<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
</head>
<body>
    <h1>Movie Recommender</h1>

    <form action="/recommender">
        <label for="favorite-movie">Your favorite movie of all times</label>
        <br>
        <input id="favorite-movie" name="fav_movie" list='movie-list' placeholder="movie title">
        <br>
        <br>
        <label for="worst-movie">Your least favorite movie of all times</label>
        <br>
        <input id="worst-movie" name="worst_movie" list = 'movie-list' placeholder="movie title">
        <br>
        <br>
        <input type="submit">

    </form>

    <datalist id = 'movie-list'>
        {% for movie in all_movies: %}
        <option>{{movie}}</option>
        {% endfor %}
    </datalist>

</body>
</html>