{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Movie Recommender</h1>

    {% if form %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% endif %}

    <form action="/recommender">
        <label for="favorite-movie">Your favorite movie of all times</label>
        <br>
        <input id="favorite-movie" name="fav_movie" list='movie-list' placeholder="movie title">
        <br>
        <br>
        <label for="worst-movie">Your least favorite movie of all times</label>
        <br>
        <input id="worst-movie" name="worst_movie" list = 'movie-list' placeholder="movie title">
        <br>
        <br>
        <input type="submit">

    </form>

    <datalist id = 'movie-list'>
        {% for movie in all_movies: %}
        <option>{{movie.title}}</option>
        {% endfor %}
    </datalist>
{% endblock app_content %}
    
