{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Movie Recommender - anonymous user</h1>

    <p>
        In order to give you the best recommendation please enter your favorite and least favorite movie.
    </p>
    <br>
    <br>

    {% if form %}
    <div class="row">
        <div class="col-md-4">
            <form action="/recommender">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.movie_best.label }}<br>
                    {{ form.movie_best }}
                </p>
                <fieldset class="starability-basic">
                    {% for subfield in form.rating_best %}
                    {{ subfield }}
                    {{ subfield.label }}
                    {% endfor %}
                </fieldset>
                <p>
                    {{ form.movie_worst.label }}<br>
                    {{ form.movie_worst }}
                </p>
                <fieldset class="starability-basic">
                    {% for subfield in form.rating_worst %}
                    {{ subfield }}
                    {{ subfield.label }}
                    {% endfor %}
                </fieldset>
                <p>
                <input type="submit">
                </p>
            </form>
        </div>
    </div>
    {% endif %}

    <form action="/recommender">
        <label for="favorite-movie">Your favorite movie of all times</label>
        <br>
        <input id="favorite-movie" name="fav_movie" list='movie-list' placeholder="movie title">
        <br>
        <br>
        <label for="worst-movie">Your least favorite movie of all times</label>
        <br>
        <input id="worst-movie" name="worst_movie" list = 'movie-list' placeholder="movie title">
        <br>
        <br>
        <input type="submit">

    </form>

    <datalist id = 'movie-list'>
        {% for movie in all_movies: %}
        <option>{{movie.title}}</option>
        {% endfor %}
    </datalist>

{% endblock app_content %}

