{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block app_content %}
{% if form %}
<div class="row">
    <div class="col-md-2">

        {{ form.movie_best }}
        <fieldset class="starability-basic">
            {% for subfield in form.rating_best %}
            {{ subfield }}
            {{ subfield.label }}
            {% endfor %}
        </fieldset>
        {{ form.movie_worst }}
        <fieldset class="starability-basic">
            {% for subfield in form.rating_worst %}
            {{ subfield }}
            {{ subfield.label }}
            {% endfor %}
        </fieldset>
        {{ form.submit }}

</div>
{% endif %}


<datalist id='movie-list'>
    {% for movie in all_movies: %}
    <option>{{movie}}</option>
    {% endfor %}
</datalist>
{% endblock app_content %}